.footerBackground {
    background-color: rgb(207, 181, 148);
}


.footerBlock {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 50%;
    margin: 0 auto;
    font-family: 'Holtwood One SC', serif;   
}
.footerBlock img {
    margin: 1em;
    
}

.socialLinks {
    display: flex;
    justify-content: center;
}
