.cartObjects {

    min-width: 350px;
    margin: 0 auto;
    width: 50%;
}

.noProducts {
    background-image: url(../../images/woodFloorBackground.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 50rem;
}
.noProducts h1 {
    padding-top: 5em;
    font-family: 'Holtwood One SC', serif;  
    text-align: center;
    font-size: 50pt;
}

@media (max-width: 700px){
    .noProducts h1 {
        font-size: 3rem;
    }
}

h2 {
    text-align: center;
}

.orderForm{
    width: 50%;
    margin: 1em auto;
    min-width: 350px;
}

.ctrlBtn {
    margin: 1em 1em 1em 0em;
}

.items {
    margin: 1em 0em
}

.card-img-Left {
    border-radius: 10%;
    margin-right: 2em;
}

.card {
    margin: 0.5em;
    
}
.cartCardBody {
    display: flex;
    align-items: center;
}

.items {

   margin: 1em auto;
}

.cardText {
    width: 50%;
    margin: 0;
}

.cardQty {
    width: 60px;
}

.cardRemove {
    margin: 0 10px
}

.totalTitle {
    margin-bottom: 0;
}
.totalPrice {
 margin-left: auto;   
}